    body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #333;

        }

        header {
            background-color: #1f1f1f; /* Dark gray header color */
            text-align: center;
            padding: 3vw;
            font-size: 40px;
            margin-bottom: 0px;
        }

    .navbar {
      background-color: #333; /* Navbar background color */
      position: sticky;
      padding:1vw;
      font-size:1.5vw ;

    }

    .navbar-brand img {
      max-height: 7vw; /* Set the maximum height for your logo */
      padding-left: 1vw;

    }

    .navbar-nav .nav-link {
      color: #fff; /* Navigation link color */
    }

    .navbar-nav .nav-link:hover {
      color: #bbb; /* Hover color for navigation links */
    }

        section {
            max-width: 80%;
            margin: auto;
            padding: 20px;
            background-color: #2c2c2c; /* Slightly lighter black for section background */
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Box shadow for a subtle lift */
            margin-bottom: 20px;

        }

        h2 {
      color: #fff;
      font-size: 4vw;
      margin-bottom: 2vw;
      text-align: center;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    h5 {
      color: #fff;
      font-size: 4vw;
      margin-bottom: 2vw;
      margin-top: 2vw;
      text-align: center;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    h1 {
      color: #fff;
      font-size: 7vw;
      margin-bottom: 10px;
      text-align: center;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    }



        p {
            font-size: 1.5vw;
            color: #ccc;
        }

        

        .premium-container {
            max-width: 600px;
            margin: auto;
            padding: 20px;
            background-color: #333; /* Dark gray container background color */
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            margin-top: 50px;
        }

        #premium-content {
            display: none;
            color: #3498db; /* Blue premium content text color */
            font-weight: bold;
        }

        #login-form, #signup-form {
            margin-top: 20px;
        }

        label {
            display: block;
            margin-bottom: 8px;
            text-align: left;
            color: #fff; /* White label text color */
        }

        input {
            width: 100%;
            padding: 8px;
            margin-bottom: 16px;
            box-sizing: border-box;
            border: 1px solid #555; /* Dark gray border color */
            border-radius: 4px;
            color: #333; /* Dark gray text color */
            background-color: #fff; /* White background color */
        }

        .signup-text {
          font-size: 40px; /* Font size for the sign-up text */
          margin-bottom: 20px; /* Bottom margin for spacing */
          font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
        .button {
        font-size: 40px; /* Font size for the sign-up text */
        margin-bottom: 20px; /* Bottom margin for spacing */
          font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 4px;
        cursor: pointer;
        }
        .section-container {
            max-width: 80%; /* Adjusted to hold 1280x720 images */
            max-height:100%;

            margin: auto;
            padding: 1vw;
            background-color: #333;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            margin-top: 0px;
            margin-bottom: 0%;

            overflow: hidden;
            display: flex;
            justify-content: space-between;
            
        }
        .section-container2 {
            max-width: 80%; /* Adjusted to hold 1280x720 images */
            max-height:100%;

            margin: auto;
            padding: 0;
            background-color: black;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            margin-top: 0px;
            margin-bottom: 0px;

            overflow: hidden;
            display: flex;
            justify-content: space-between;
            
        }

        .article-holder {
            flex: 1;
            padding: 10px;
            box-sizing: border-box;
            text-align: center;
            border: 20px;
            margin-bottom: 0;

            color:white;



        }
        h4 {
          font-size: 2vw;
          color:white
        }


        .youtube-holder {
            flex: 1;
            padding: 10px;
            box-sizing: border-box;

            text-align: center;
            border: 20px;
            margin-bottom: 50px;
            vertical-align:middle;
            margin-right: 2vw;
            margin-top: 2vw;




        }

        iframe {
            width: 100%;
            height: 30vw; /* Adjust the height as needed */
            border: 2px solid white   ;         
            border-radius: 30px;
            border-color: white;
            transform: scale(1.05);




        }
        .banner-section {
            background-color: #333; /* Dark blue banner background color */
            padding: 20px;
            text-align: center;
            color:white
        }

        .hidden {
      opacity: 0;
      transform: translateY(20px);
      transition: opacity 0.5s ease, transform 0.5s ease;
    }

    .visible {
      opacity: 1;
      transform: translateY(0);
    }
    .carousel-inner iframe {
      width: 100%;
      height: 30vw; /* Adjust the height as needed */
      border-radius:20px;

    }
    .carousel-control-prev, .carousel-control-next {
    
      display: none; /* Hide the carousel control arrows */
    }
    .carousel-indicators li {
      background-color: red; /* Change the color to your preference */
    }
    img {
  border-radius: 20px;
}
.footer {
            background-color: #212529;
            color: #fff;
            padding: 20px 0;
            text-align: center;
        }

        .footer-link {
            color: #fff;
            text-decoration: none;
            font-weight: bold;
        }

        .footer-link:hover {
            color: #bbb;
        }
        



        .rankings-list {
          background-color: #343a40;
          border-radius: 10px;
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
          padding: 20px;
          margin-bottom: 20px;
      }





      .table {
        border: 1px solid #dee2e6;
        border-radius: 10px;
        overflow: hidden;
    }

    th, td {
        border: 1px solid #343a40;
        padding: 15px;
        text-align: center;
    }

    th {
        background-color: #0056b3;
        color: #ffffff;
        border-radius: 10px 10px 0 0;
    }

    tbody tr {
        background-color: #343a40;
        transition: background-color 0.3s;
        color: #ffffff;

    }

    tbody tr:hover {
        background-color: #3b4045;
    }


    .founders-container {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-top: 20px;
  }

  .founder-card {
      max-width: 300px;
      margin: 10px;
      padding: 20px;
      background-color: #333;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      text-align: center;
  }

  .ul {
    color:white;
  }
  .alert-success {
    background-color: lightblue;
    color: black;
    border-color: lightblue;
}

.content {
  text-align: center;
  padding: 8vw;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: fit-content;
  z-index: 1;
  margin-top: 4vw;
  margin-bottom: 4vw;


  margin-left: auto;
  margin-right: auto;

  position: relative; /* Adjusted position */
  overflow-y: auto; /* Enable vertical scrollbar if content overflows */
}
.alert-warning {
  background-color: lightblue;
  color: black;
  border-color: lightblue;
}

.blog-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.blog-article {
  width: 27%;
  margin: 10px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border-radius: 10px;
  background-color: #212529;
  text-decoration: none;
  color: #fff;
}

.blog-article2 {
  width: 50%;
  height: 50%;

  margin: 10px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border-radius: 10px;
  background-color: #212529;
  text-decoration: none;
  color: #fff;
}
.blog-article img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #34495e;
  border-top-left-radius:10px;
}
.blog-article2 img {
  width: 100%;

  height: auto;
  border-bottom: 1px solid #34495e;
  border-top-right-radius:10px;
  border-top-left-radius:10px;


}






.blog-article:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}



.article-details {
  padding: 10px;
}

.article-details h3 {
  margin-top: 0;
  font-size: 3vw;
  color: white;
}

.article-details p {
  margin: 5px 0;
  font-size: 2vw;
  color: #ecf0f1;
}

@media screen and (max-width: 768px) {
  .blog-article {
    width: calc(33% - 20px);
    margin-right: 10px;
    margin-left: 10px;
  }
}

.blog-link {
  text-align: center;
  margin: 20px;
}

.blog-link a {
  text-decoration: none;
  color: #3498db;
  font-weight: bold;
}

.blog-link a:hover {
  color: #1f618d;
}

.membership-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
}

.membership-details {
  flex-basis: calc(50% - 10px);
  border-right: 1px solid #555;
  padding: 0 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.container ul li,
.founders-container ul li {
    color: white;
    font-size: 1.5vw;
}
.banner-section {
  background-color: #666; /* Different shade of gray */
  padding: 10px;
  text-align: center;
  color: white;
  margin-bottom: 10px;
}





.article-header {
  text-align: center;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.article-header h1 {
  font-size: 4vw;
  color: #3498db;
}

.article-meta {
  text-align: center;
  margin-bottom: 20px;
}

.article-meta p {
  margin: 5px 0;
  color: #ecf0f1;
}

.article-content {
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
}

.article-content img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.article-footer {
  text-align: center;
  margin-top: 20px;
}

.article-footer a {
  text-decoration: none;
  color: #3498db;
  font-weight: bold;
  font-size: 3vw;
}

.article-footer a:hover {
  color: #1f618d;
}















        









































 
 
        
