<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <title>Fantasy Trading Room</title>
</head>
<body>
    <header>
        <h1>Fantasy Trading Room</h1>
    </header>

    <div class="premium-container">
        <div id="premium-content">
        </div>

        <div id="reset_passwordForm">
            <h3>Reset Password</h3>

            <form action="/reset/{{ token }}" method="POST">
                <div class="form-group">
                    <label for="new_password1">New Password:</label>
                    <input type="password" class="form-control" id="new_password1" name="new_password" required>
                </div>

                <div class="form-group">
                    <label for="new_password2">New Password Confirmed:</label>
                    <input type="password" class="form-control" id="new_password2" name="new_password2" required>
                </div>

                <button type="submit" class="btn btn-dark">Reset Password</button>
            </form>
        </div>
    </div>

    <!-- Bootstrap Modal for Password Mismatch -->

    <div class="flash-messages">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-warning alert-dismissible fade show {{ message.category }}" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>








    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    // JavaScript for password matching validation
    $(document).ready(function () {
        $('#reset_passwordForm').submit(function (e) {
            var password1 = $('#new_password1').val();
            var password2 = $('#new_password2').val();

            if (password1 !== password2) {
                // Display a browser alert warning
                alert("Passwords do not match. Please make sure both passwords are the same.");
                e.preventDefault(); // Prevent form submission
            }
        });
    });
</script>
</body>
</html>
